body {
  background-color: #3289a8;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
  max-height: 100%;
}
main {
  display: grid;
  place-content: center;
  margin: auto;
  width: 100%;
  min-height: 100vh;
}

.menu {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 400px;
  height: 500px;
  background-color: #eeeee4;
  border-radius: 60%;
}

img {
  border-radius: 50%;
}

.recipe_steps {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 80%;
  height: 80%;
  background-color: #eeeee4;
  /* border-radius: 60%; */
  padding: 5%;
}
